[submodule "pipeline/ZF_UNET_224_Pretrained_Model"]
	path = pipeline/ZF_UNET_224_Pretrained_Model
	url = https://github.com/ZFTurbo/ZF_UNET_224_Pretrained_Model
[submodule "pipeline/ISIC_melanoma"]
        path = pipeline/ISIC_melanoma 
        url = https://github.com/yinniyu/ISIC_melanoma
