[submodule "extra_libs/ZF_UNET_224_Pretrained_Model"]
	path = extra_libs/zf_unet
	url = https://github.com/ZFTurbo/ZF_UNET_224_Pretrained_Model
[submodule "extra_libs/ISIC_melanoma"]
        path = extra_libs/ISIC_melanoma 
        url = https://github.com/yinniyu/ISIC_melanoma
[submodule "extra_libs/ISIC-Archive-Downloader"]
        path = extra_libs/ISIC-Archive-Downloader
        url = https://github.com/GalAvineri/ISIC-Archive-Downloader
[submodule "extra_libs/Guided-Attention-Inference-Network"]
        path = extra_libs/Guided-Attention-Inference-Network
        url = https://github.com/alokwhitewolf/Guided-Attention-Inference-Network
[submodule "extra_libs/extra_libs/Guided-Attention-Inference-Network"]
	path = extra_libs/extra_libs/Guided-Attention-Inference-Network
	url = https://github.com/alokwhitewolf/Guided-Attention-Inference-Network
